<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java面试必修</title>
</head>
<body>
除了登陆什么都没有
<input type="text" name="userName" id="userName" value="itmsbx">
<input type="button" onclick="loginIn()">
</body>
<script src="https://www.51object.com/static/heninet/js/jquery-1.11.3.min.js"></script>

<script>
    function loginIn(){
        var userName = $("#userName").val();
        $.ajax({
            type : "POST",
            url : "loginIn?userName=" + userName,
            dataType : "json",
            success : function(data) {
                if (data.result == "1") {
                    window.location.href ="/manager";
                } else {
                    alert("登录失败！");
                }
            }
        });

    }

</script>
</html>
